{% extends "layout.html" %} {% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
{% endblock %} {% block content %}
<h1>Tabellone</h1>

<div class="status-container">
  <div class="status-box" id="alfa-status">
    <h3>Pista ALFA</h3>
    <p>Stato: <span id="alfa-state">-</span></p>
    <p>Tempo rimanente: <span id="alfa-remaining">-</span></p>
    <p>Giocatore attuale: <span id="current-player-alfa">-</span></p>
  </div>

  <div class="status-box" id="bravo-status">
    <h3>Pista BRAVO</h3>
    <p>Stato: <span id="bravo-state">-</span></p>
    <p>Tempo rimanente: <span id="bravo-remaining">-</span></p>
    <p>Giocatore attuale: <span id="current-player-bravo">-</span></p>
  </div>

  <div class="status-box" id="charlie-status">
    <h3>Pista CHARLIE</h3>
    <p>Stato: <span id="charlie-state">-</span></p>
    <p>Tempo rimanente: <span id="charlie-remaining">-</span></p>
    <p>Giocatore attuale: <span id="current-player-charlie">-</span></p>
  </div>
</div>

<div class="next-players-container">
  <!-- Card per Coppie e Singoli -->
  <div class="next-player-card">
    <div class="next-player-title">Prossimo Giocatore ALFA/BRAVO:</div>
    <div class="next-player" id="next-player">
      <span id="next-player-text">Nessun Giocatore In Coda</span>
    </div>
    <img src="/static/icons/Vector.svg" class="player-icon" alt="Player Icon" />
    <button class="skip-button" onclick="skipNextPlayer()">
      SKIP <span class="skip-icon">>></span>
    </button>
  </div>

  <!-- Card per Charlie -->
  <div class="next-player-card">
    <div class="next-player-title">Prossimo Giocatore CHARLIE:</div>
    <div class="next-player-id" id="next-charlie-player">
      Nessun Giocatore In Coda
    </div>
    <button class="skip-button" onclick="skipCharliePlayer()">
      SKIP <span class="skip-icon">>></span>
    </button>
  </div>
</div>

<div class="boards-container">
  <div class="board">
    <h2>Coda Coppie</h2>
    <ul id="couples-board"></ul>
  </div>

  <div class="board">
    <h2>Coda Singoli</h2>
    <ul id="singles-board"></ul>
  </div>

  <div class="board">
    <h2>Coda CHARLIE</h2>
    <ul id="charlie-board"></ul>
  </div>
</div>

<!-- Nuova card unica per gli skippati -->
<div class="skipped-container">
  <div class="skipped-title">Giocatori Skippati</div>
  <div class="skipped-buttons">
    <div id="skipped-couples-buttons"></div>
    <div id="skipped-singles-buttons"></div>
    <div id="skipped-charlie-buttons"></div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}