{% extends "layout.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/keypad.css') }}">
{% endblock %}

{% block content %}
<h1>Tastierino Metà Percorso</h1>

<div class="keypad-container">
    <input type="password" class="keypad-display" id="keypad-display" readonly>
    <div class="keypad">
        <button class="key" onclick="addKey('1')">1</button>
        <button class="key" onclick="addKey('2')">2</button>
        <button class="key" onclick="addKey('3')">3</button>
        <button class="key" onclick="addKey('4')">4</button>
        <button class="key" onclick="addKey('5')">5</button>
        <button class="key" onclick="addKey('6')">6</button>
        <button class="key" onclick="addKey('7')">7</button>
        <button class="key" onclick="addKey('8')">8</button>
        <button class="key" onclick="addKey('9')">9</button>
        <button class="key clear" onclick="clearKey()">C</button>
        <button class="key" onclick="addKey('0')">0</button>
        <button class="key enter" onclick="checkCode()">✓</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/keypad.js') }}"></script>
{% endblock %}